a
{
    text-decoration: none;
    font-size: 28px;
}
.box
{
    display: flex;
    justify-content: space-around;
    background-color:rgb(195, 221, 79);
    
    
}
.sec
{
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(183, 200, 175);
    font-family: Impact;
    background-color:rgb(51, 60, 130);
    
}
#one{
    font-weight: bolder;
    color: rgb(49, 137, 205);
    font-style: italic;
    font-size: 20px;
    font-family: Georgia;
}
#two{
    font-weight: bolder;
    color: royalblue;
    font-style: italic;
    font-size: 20px;
    font-family: Georgia;
}
img
{
   width: 100%;
   height: auto; 
   background-size: cover; 

}